.mat-icon {
    vertical-align: bottom;
}
.active {
    color: green;
}
.shadow {
    box-shadow: 5px 5px 5px 5px darkgrey !important; 
}
img {
    height: 170px;
    width: 300px;
}

.sort-radio-group {
    margin: 15px 0;
  }
  
  .sort-radio-button {
    margin: 5px;
  }
  